# Unity
/[Ll]ibrary
/[Ll]ogs
/[Oo]bj
/[Tt]emp
/[Uu]serSettings

# Project
/[Ss]creenshots

# Visual Studio
/.vs
/.vsconfig
/*.sln
/*.csproj

# Rider
/**/.idea

# Custom
/Assets/Omnistarter/Fonts
/Assets/Omnistarter/Fonts.meta
/Assets/Plugins
/Assets/Plugins.meta
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta